<%- include('./partials/header.ejs') %>
<nav class="show-nav">
    <ul>
        <li> <a href="/foodie">Back to restaurant</a></li>
        |
        <li><a href="/user/signout">Sign Out</a></li>
    </ul>
</nav>
    <h1 class="new-title">A TASTE OF FOODIE</h1>
    <h2 class="new-h2">Edit a cuisine</h2>
    <form action="/foodie/<%=foodie.id%>?_method=PUT" method="POST" id="new-form">
        Name: <input id="name" type="text" name="name" value="<%=foodie.name%>" class="new-p">
        Location: <input id="location" type="text" name="location" value="<%=foodie.location%>"class="new-p">
        Cuisine:<input id="cuisine" type="text" name="cuisine"  value="<%=foodie.cuisine%>" class="new-p">
        Rating:<input id="rating" type="text" name="rating"  value="<%=foodie.rating%>" class="new-p">
        Comment:<input id="comment" type="text" name="comment"  value="<%=foodie.comment%>" class="new-p">
        <input type="submit" value="Edit" id="upload-btn">
    </form>
<%- include('./partials/footer.ejs') %>