<%- include('./partials/header.ejs') %>
<div class="index-nav">
    <a href="/user/signout" id="signout-btn">Sign Out</a>
</div>
    
<div class="container">
    <h1 id="index-title">A TASTE OF FOODIE</h1>
    <ul class="index-list">
        <% for(let i=0; i<foodies.length; i++) { %>
            <li class="foodie-list">
                <h2><%= foodies[i].name%></h2>
                <a href="/foodie/<%=foodies[i].id%>"><%= foodies[i].cuisine%></a></br>
                <%= foodies[i].image%>
            </li>
        <%}%>
    </ul>
    <a href="/foodie/new"><input type="submit" value="Add a cuisine" id="upload-btn"></a>
</div>

   
<%- include('./partials/footer.ejs') %>