<%- include('./partials/header.ejs') %>
<h1 class="title">A TASTE OF FOODIE</h1>
    <ul class>
        <% for(let i=0; i<foodies.length; i++) { %>
            <li class="foodie-list">
                <h2><%= foodies[i].name%></h2>
                <a href="/foodie/<%=foodies[i].id%>"><%= foodies[i].cuisine%></a></br>
                <%= foodies[i].image%>
            </li>
        <%}%>
    </ul>
    <a href="/foodie/new"><input type="submit" value="Add a cuisine" id="add-btn"></a>
   
<%- include('./partials/footer.ejs') %>