<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/foodie">Back to restaurant</a>
    <p>Name: <%= foodie.cuisine%></p>
    <p>Rating: <%= foodie.rating%></p>
    <p>Comment: <%= foodie.comment%></p>
    <%=  foodie.img %>
    <a href="/foodie/<%=foodie.id%>/edit"><input type="submit" value="EDIT"/></a>
    <form action="/foodie/<%=foodie.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>
</body>
</html> 