<%- include('./partials/header.ejs') %>
<nav class="show-nav">
    <ul>
        <li> <a href="/foodie">Back to restaurant</a></li>
        |
        <li><a href="/user/signout">Sign Out</a></li>
    </ul>
</nav>
    <h1 class="title">A TASTE OF FOODIE</h1>
    <div class="list-detail">
        <p>Name: <%= foodie.cuisine%></p>
        <p>Rating: <%= foodie.rating%></p>
        <p>Comment: <%= foodie.comment%></p>
        <%=  foodie.img %>
    </div>
    <a href="/foodie/<%=foodie.id%>/edit"><input type="submit" value="EDIT" id="edit-btn"></a>
    <form action="/foodie/<%=foodie.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" id="delete-btn">
    </form>
<%- include('./partials/footer.ejs') %>